{% extends "base.html" %}
{% load static %}

{% block title %}
    My Blog 
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "main_blog/post.css" %}" />
  <link rel="stylesheet" href="{% static "main_blog/index.css" %}" />
{% endblock %}

{% block content %}

  <section id="welcome">
    <header>
      <img src="{% static "main_blog/images/nantucketheadshot.jpg" %}" alt="Scott - author of this blog" />
        <h2>Scott's Blog</h2>
          </header>
        <p>Hi, I'm Scott and this is my blog about tech and how it's changing the world.</p> 
  </section>

  <section id="latest-posts">
    <h2>My Latest Thoughts</h2>

      <ul> 
        {% for post in posts %}
          {% include "main_blog/includes/post.html" %}
        {% endfor %}
      </ul>
  </section>

  <section id="about">
    <h2>What I Do</h2> 
    <p>I love programming, weight lifting, and video games.</p> 
    <p>My goal is to keep on growing as a developer. Hopefully I can inspire others to do the same.</p> 
  </section>
{% endblock %}